header {
  transition: all 0.5s;
}

.navbar {
  height: fit-content;
  padding: 0;
  background-color: var(--color-white);
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);

  @media only screen and (min-width: 992px) {
    background-color: transparent;
    height: 90px;
    padding: unset;
    box-shadow: unset;
  }

  & img {
    width: 100px;

    @media only screen and (min-width: 768px) {
      width: 125px;
    }

    @media only screen and (min-width: 1200px) {
      width: 180px;
      margin: 20px 0;
    }
  }

  & .navbar-toggler-icon {
    width: 50px;
  }
}

.navbar-toggler:focus {
  outline: 0 none;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0) inset, 0 0 8px rgba(0, 0, 0, 0);
}


.navbar-nav {
  background-color: var(--color-white);
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: var(--color-black);
  font-size: 1.2rem;
  line-height: 18px;
  text-decoration: none;
  align-items: center;

  @media only screen and (min-width: 768px) {
    background-color: transparent;
  }


  @media only screen and (min-width: 992px) {
    font-size: 1.4rem;

  }

  & img {
    padding-left: 40px;
  }

  & ul {
    align-items: center;
    padding-right: 20px;
  }

  & .active {
    color: var(--color-accent);
    padding-bottom: 8px;

    @media only screen and (min-width: 768px) {
      border-bottom: var(--color-accent) solid 2px;
      padding: unset;
      padding: 5px 0;
    }
  }
}

.bg-navbar {
  background-color: var(--color-white);
  transition: all 0.5s;
  padding: 0;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: var(--color-black);
  margin: 0 5px;
  font-weight: 500;
  transition: all 0.5s;
  padding: 10px 0;
  line-height: 18px;


  @media only screen and (min-width: 992px) {
    margin: 0 10px;
    padding: 0;
    border-bottom: 3px solid transparent;
  }
}

.nav-link:hover {
  color: var(--color-accent);
}

.nav-item .winkel {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 40px;
  border-radius: 20px;

  height: 40px;
  color: var(--color-white);
  padding: 0 25px;
  align-self: center;

  @media only screen and (min-width: 768px) {
    width: 120px;
    // padding: 0 35px;
  }

  @media only screen and (min-width: 992px) {
    width: 140px;
    font-size: 1.4rem;
  }
}


.lang {
  display: flex;
  width: 30px;
  margin: 10px 0;

  @media only screen and (min-width: 768px) {
    margin-left: 10px;
    margin-right: 10px;
  }

  @media only screen and (min-width: 1200px) {
    margin-right: 40px;
    margin-left: 20px;
  }
}

.lang li {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  line-height: 15px;
  color: #a6a69e;
  padding: 0 2px;
  transition: all 0.5s;

  &:hover {
    color: var(--color-black);

  }

  &.activeLang {
    color: var(--color-black);
  }
}

.backTo {
  position: relative;
}

.backTo::before {
  position: absolute;
  display: block;
  background-image: url(./../assets/arrowNav.svg);
  background-repeat: no-repeat;
  content: "";
  top: 40%;
  left: 0;
  width: 12px;
  height: 6px;
}

.hide {
  padding-left: 25px;
  padding: 5px;

  @media only screen and (min-width: 768px) {
    visibility: hidden;

  }
}

.fadeIn {
  -webkit-animation: animat_show 1.5s;
  animation: animat_show 1.5s;
  visibility: visible !important;
}

@-webkit-keyframes animat_show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#hamburger .icon-bar {
  background: black;
}

.navbar-brand {
  width: 60px;
  padding: 10px;
}
