body {
  background-color: #fefdfb;
  color: #524b39; }

p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  line-height: 28px; }

h1 {
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 6rem;
  line-height: 76px;
  margin-bottom: 100px;
  position: relative;
  width: fit-content; }

h1::after {
  content: "";
  display: block;
  width: 280px;
  height: 27px;
  position: absolute;
  right: -80px;
  top: 100%;
  background-image: url(./../assets/titelBrush.png);
  background-repeat: no-repeat; }

h2 {
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 34px;
  text-align: center;
  letter-spacing: 5%; }

h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 45px; }

nav {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: #1d1d1b;
  font-size: 1.4rem;
  line-height: 18px;
  text-decoration: none; }
  nav .active {
    color: #e33253;
    transition: all 0.5s; }

button {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  line-height: 15px;
  color: #a6a69e;
  background: none;
  border: none;
  overflow: hidden;
  outline: none; }
  button:hover {
    color: #1d1d1b;
    transition: all 0.5s; }
  button.activeLang {
    color: #1d1d1b; }

main section {
  padding: 134px 0; }

.form-control .message {
  height: 150px; }

.form-row {
  margin-top: 18px; }

.form-group label {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 12px;
  color: #524b39;
  padding-bottom: 10px;
  text-transform: uppercase;
  padding-left: 25px; }

.form-control {
  border: solid #f8f0e2 1px;
  border-radius: 25px;
  background-color: rgba(248, 240, 226, 0.33);
  height: 50px; }

.form-check input[type="checkbox"] {
  opacity: 0; }

.form-check input[type="checkbox"] + label::after {
  opacity: 0; }

.form-check input[type="checkbox"]:checked + label::after {
  opacity: 1; }

.form-check input[type="checkbox"]:focus + label::before {
  outline: #3b99fc auto 5px; }

.form-check label {
  font-weight: normal;
  position: relative;
  padding-left: 40px; }
  .form-check label a {
    color: #E33253;
    text-decoration: underline; }

.form-check label::before,
.form-check label::after {
  position: absolute;
  content: "";
  display: inline-block; }

.form-check input {
  padding-left: 20px; }

.form-check label::before {
  height: 30px;
  width: 30px;
  border: 1px solid #F8F0E2;
  border-radius: 5px;
  background: rgba(248, 240, 226, 0.33);
  left: 0; }

.form-check label:after {
  background-image: url(./../assets/checkForm.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 7.5px;
  width: 15px;
  height: 11px;
  background-size: 15px 11px;
  top: 10px; }

input[type="text"]:focus,
input[type="checkbox"]:focus,
textarea:focus {
  border-color: #807968;
  outline: 0 none;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0) inset, 0 0 8px rgba(0, 0, 0, 0);
  background: rgba(248, 240, 226, 0.66);
  font-weight: 700; }

::placeholder {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  line-height: 50px;
  padding-left: 25px;
  color: rgba(171, 161, 138, 0.5); }

.button {
  background-color: #e33253;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: #fefdfb; }

.submit {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 28px;
  border-radius: 30px;
  width: 200px;
  height: 60px; }

.bold {
  font-weight: 700; }

.brushesBorder {
  border-top: 100px solid;
  border-image: url(./../assets/brushTop.png) 150 stretch; }

.change-bg {
  background-color: #f8f0e2; }

.carousel {
  display: flex;
  align-content: center; }

.carousel-indicators {
  display: flex;
  flex-direction: column; }

.buttonSlider {
  background-color: #524B39;
  width: 60px;
  height: 60px;
  border: 2px solid #F8F0E2;
  border-radius: 50%;
  opacity: 1; }

.carousel-indicators li {
  font-family: "Caveat", cursive;
  color: #aba18a;
  font-size: 2rem;
  line-height: 25px;
  position: relative;
  text-indent: 0;
  width: 100%;
  margin: 10px 0; }
  .carousel-indicators li .active {
    font-size: 4.8rem;
    line-height: 6rem;
    color: #524b39; }

.carousel-indicators li::after {
  display: block;
  -ms-flex: none;
  flex: none;
  width: 100%;
  height: auto;
  position: relative;
  background: none;
  border: 0;
  color: #aba18a;
  font-size: 2rem;
  line-height: 25px;
  font-weight: 400;
  text-indent: 1;
  content: ""; }

.assortiment {
  font-family: "Caveat", cursive; }
  .assortiment li {
    color: #aba18a;
    font-size: 2rem;
    line-height: 25px; }
  .assortiment li:hover {
    font-size: 3rem;
    transition: all 0.5s; }
  .assortiment .active {
    font-size: 4.8rem;
    line-height: 6rem;
    color: #524b39; }

.brushTitel {
  display: inline-block;
  width: 281px;
  height: 27px;
  margin-top: 60px;
  margin-left: -230px; }

.voordelen li::before {
  display: block;
  position: absolute;
  content: "";
  top: 25%;
  left: 0;
  width: 11px;
  height: 8px;
  background: url(./../assets/check.svg); }

.voordelen li {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  color: #524b39;
  list-style-type: none;
  position: relative;
  margin: 25px 0;
  line-height: 25px;
  padding-left: 30px; }

.banner {
  background-image: url(./../assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px;
  padding: 0; }
  .banner div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .banner div img {
      padding: 5px 0; }

.about {
  margin: 0 auto; }
  .about div {
    align-self: center; }
    .about div p {
      padding: 10px 0; }

header {
  padding-top: 28px;
  transition: all 0.5s; }

.nav {
  align-items: center;
  padding-right: 40px; }

.nav-link {
  color: #1d1d1b;
  margin: 0 20px; }

.winkel {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 30px;
  border-radius: 20px;
  width: 140px;
  height: 40px;
  color: #fefdfb; }

.nav-item .active {
  color: #e33253;
  border-bottom: #e33253 solid 2px;
  padding-bottom: 8px; }

.nav-link:hover {
  color: #e33253;
  transition: all 0.5s; }

.toTop {
  border-radius: 50%;
  background-color: #807968;
  height: 50px;
  width: 50px;
  padding: 15px; }

footer {
  background-image: url(./../assets/bg-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 180px;
  font-size: 1.4rem;
  line-height: 24px;
  color: #524b39;
  font-weight: 700; }
  footer .col div {
    margin: 32px 0; }
  footer p {
    margin-bottom: 0; }
  footer a {
    text-decoration: underline;
    color: #524b39;
    font-size: 1.4rem;
    line-height: 24px; }
  footer .pricavy {
    display: flex;
    flex-direction: column; }
  footer .footer-info {
    padding-bottom: 100px; }

.testing {
  padding-bottom: 100px; }

.digital {
  background-color: #fefdfb;
  color: #aba18a;
  height: 50px;
  font-weight: 400; }
  .digital a {
    color: #aba18a;
    text-decoration: underline; }

.bg-navbar {
  background-color: white;
  transition: all 0.5s;
  padding: 0; }

.winkel:hover,
.submit:hover {
  background-color: #1d1d1b;
  color: #fefdfb;
  transition: all 1s; }

.hide {
  visibility: hidden;
  padding-left: 25px;
  padding: 5px; }

.fadeIn {
  -webkit-animation: animat_show 1.5s;
  animation: animat_show 1.5s;
  visibility: visible !important; }

@-webkit-keyframes animat_show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.timeline-item {
  border-top: solid 1px #ABA18A; }
  .timeline-item h3 {
    position: absolute;
    top: -20px;
    padding: 0 23px;
    background-color: #F8F0E2; }
  .timeline-item div {
    margin-top: 30px;
    padding-left: 23px; }

.brush-border {
  width: 100%; }

/*# sourceMappingURL=style.css.map */