@import url(./reset.css);
:root {
  --color-black: #1D1D1B;
  --color-white: #FEFDFB;
  --color-secondary: #ABA18A;
  --color-primary: #524B39;
  --color-accent: #E33253;
  --color-secondary-background: #f8f0e2;
  --weight-regular: 400;
  --weight-semi-bold: 600;
  --weight-bold: 700;
  /* stylelint-disable */
  --font-family-base: "Source Sans Pro";
  --font-family-alt: "Integral CF", -apple-system, blinkmacsystemfont,
    "Segoe UI", roboto, helvetica, arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  /* stylelint-enable */ }

@custom-media --xs screen and (min-width: 0);
@custom-media --sm screen and (min-width: 576px);
@custom-media --md screen and (min-width: 768px);
@custom-media --lg screen and (min-width: 992px);
@custom-media --xl screen and (min-width: 1260px);
header {
  transition: all 0.5s; }

.navbar {
  height: fit-content;
  padding: 0;
  background-color: var(--color-white);
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1); }
  @media only screen and (min-width: 992px) {
    .navbar {
      background-color: transparent;
      height: 90px;
      padding: unset;
      box-shadow: unset; } }
  .navbar img {
    width: 100px; }
    @media only screen and (min-width: 768px) {
      .navbar img {
        width: 125px; } }
    @media only screen and (min-width: 1200px) {
      .navbar img {
        width: 180px;
        margin: 20px 0; } }
  .navbar .navbar-toggler-icon {
    width: 50px; }

.navbar-toggler:focus {
  outline: 0 none;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0) inset, 0 0 8px rgba(0, 0, 0, 0); }

.navbar-nav {
  background-color: var(--color-white);
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: var(--color-black);
  font-size: 1.2rem;
  line-height: 18px;
  text-decoration: none;
  align-items: center; }
  @media only screen and (min-width: 768px) {
    .navbar-nav {
      background-color: transparent; } }
  @media only screen and (min-width: 992px) {
    .navbar-nav {
      font-size: 1.4rem; } }
  .navbar-nav img {
    padding-left: 40px; }
  .navbar-nav ul {
    align-items: center;
    padding-right: 20px; }
  .navbar-nav .active {
    color: var(--color-accent);
    padding-bottom: 8px; }
    @media only screen and (min-width: 768px) {
      .navbar-nav .active {
        border-bottom: var(--color-accent) solid 2px;
        padding: unset;
        padding: 5px 0; } }

.bg-navbar {
  background-color: var(--color-white);
  transition: all 0.5s;
  padding: 0;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1); }

.nav-link {
  color: var(--color-black);
  margin: 0 5px;
  font-weight: 500;
  transition: all 0.5s;
  padding: 10px 0;
  line-height: 18px; }
  @media only screen and (min-width: 992px) {
    .nav-link {
      margin: 0 10px;
      padding: 0;
      border-bottom: 3px solid transparent; } }

.nav-link:hover {
  color: var(--color-accent); }

.nav-item .winkel {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 40px;
  border-radius: 20px;
  height: 40px;
  color: var(--color-white);
  padding: 0 25px;
  align-self: center; }
  @media only screen and (min-width: 768px) {
    .nav-item .winkel {
      width: 120px; } }
  @media only screen and (min-width: 992px) {
    .nav-item .winkel {
      width: 140px;
      font-size: 1.4rem; } }

.lang {
  display: flex;
  width: 30px;
  margin: 10px 0; }
  @media only screen and (min-width: 768px) {
    .lang {
      margin-left: 10px;
      margin-right: 10px; } }
  @media only screen and (min-width: 1200px) {
    .lang {
      margin-right: 40px;
      margin-left: 20px; } }

.lang li {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  line-height: 15px;
  color: #a6a69e;
  padding: 0 2px;
  transition: all 0.5s; }
  .lang li:hover {
    color: var(--color-black); }
  .lang li.activeLang {
    color: var(--color-black); }

.backTo {
  position: relative; }

.backTo::before {
  position: absolute;
  display: block;
  background-image: url(./../assets/arrowNav.svg);
  background-repeat: no-repeat;
  content: "";
  top: 40%;
  left: 0;
  width: 12px;
  height: 6px; }

.hide {
  padding-left: 25px;
  padding: 5px; }
  @media only screen and (min-width: 768px) {
    .hide {
      visibility: hidden; } }

.fadeIn {
  -webkit-animation: animat_show 1.5s;
  animation: animat_show 1.5s;
  visibility: visible !important; }

@-webkit-keyframes animat_show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#hamburger .icon-bar {
  background: black; }

.navbar-brand {
  width: 60px;
  padding: 10px; }

.message {
  height: 150px; }

.form-row {
  margin-right: -15px;
  margin-left: -15px; }
  .form-row > .col,
  .form-row > [class*=col-] {
    padding-right: 15px;
    padding-left: 15px; }
  @media only screen and (min-width: 992px) {
    .form-row {
      margin-top: 18px; } }

.form-group {
  margin-top: 18px; }
  .form-group span {
    color: var(--color-accent); }
  @media only screen and (min-width: 992px) {
    .form-group {
      margin-top: 0; } }

.form-group label {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 12px;
  color: var(--color-primary);
  padding-bottom: 10px;
  text-transform: uppercase;
  padding-left: 25px; }

.form-control {
  border: solid var(--color-secondary-background) 1px;
  border-radius: 25px;
  background-color: rgba(248, 240, 226, 0.33);
  height: 50px;
  padding-left: 25px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  line-height: 50px; }

.form-check input[type="checkbox"] {
  opacity: 0; }

.form-check input[type="checkbox"] + label::after {
  opacity: 0; }

.form-check input[type="checkbox"]:checked + label::after {
  opacity: 1; }

.form-check label {
  font-weight: normal;
  position: relative;
  padding-left: 40px;
  font-size: 1.2rem;
  line-height: 20px; }
  @media only screen and (min-width: 768px) {
    .form-check label {
      font-size: 1.2rem;
      line-height: 24px; } }
  .form-check label a {
    color: var(--color-accent);
    text-decoration: underline; }

.form-check label::before,
.form-check label::after {
  position: absolute;
  content: "";
  display: inline-block; }

.form-check input {
  padding-left: 20px; }

.form-check label::before {
  height: 30px;
  width: 30px;
  border: 1px solid #F8F0E2;
  border-radius: 5px;
  background: rgba(248, 240, 226, 0.33);
  left: 0;
  top: 0px; }
  @media only screen and (min-width: 768px) {
    .form-check label::before {
      top: -5px; } }

.form-check label:after {
  background-image: url(./../assets/checkForm.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 7.5px;
  width: 15px;
  height: 11px;
  background-size: 15px 11px;
  top: 7.5px; }
  @media only screen and (min-width: 768px) {
    .form-check label:after {
      top: 5px; } }

input[type="text"]:focus,
input[type="checkbox"]:focus,
textarea:focus {
  border-color: #807968;
  outline: 0 none;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0) inset, 0 0 8px rgba(0, 0, 0, 0);
  background: rgba(248, 240, 226, 0.66);
  font-weight: 700; }

.form-control:focus {
  border-color: #807968;
  outline: none !important;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0) inset, 0 0 8px rgba(0, 0, 0, 0);
  background: rgba(248, 240, 226, 0.66);
  font-weight: 700; }

.error-handling {
  display: none; }

.error p {
  text-align: right;
  color: var(--color-accent);
  font-size: .9rem;
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: .5rem;
  padding-right: 15px;
  display: block; }

.error label {
  color: var(--color-accent); }

.error input[type="text"],
.error input[type="checkbox"],
.error textarea {
  border-color: var(--color-accent); }

::placeholder {
  color: rgba(171, 161, 138, 0.5); }

.button {
  background-color: #e33253;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: var(--color-white); }

.submit {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 28px;
  border-radius: 30px;
  width: 150px;
  height: 40px; }
  @media only screen and (min-width: 768px) {
    .submit {
      width: 180px;
      height: 50px;
      font-size: 2rem;
      line-height: 28px; } }
  @media only screen and (min-width: 992px) {
    .submit {
      font-size: 2.2rem;
      line-height: 28px;
      width: 200px;
      height: 60px; } }

p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  line-height: 20px; }
  @media only screen and (min-width: 768px) {
    p {
      font-size: 1.5rem;
      line-height: 24px; } }
  @media only screen and (min-width: 992px) {
    p {
      font-size: 1.6rem;
      line-height: 28px; } }

h1 {
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 46px;
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  width: 300px; }
  @media only screen and (min-width: 576px) {
    h1 {
      font-size: 4rem;
      line-height: 76px;
      margin-bottom: 80px; } }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 5rem;
      line-height: 76px;
      margin-bottom: 80px;
      width: unset; } }
  @media only screen and (min-width: 992px) {
    h1 {
      font-size: 6rem;
      line-height: 76px;
      margin-bottom: 100px; } }

h1::after {
  content: "";
  width: 150px;
  height: 27px;
  position: absolute;
  top: 100%;
  background-image: url(./../assets/titelBrush.png);
  background-repeat: no-repeat;
  background-size: 150px;
  margin-top: 20px;
  left: 25%; }
  @media only screen and (min-width: 768px) {
    h1::after {
      width: 280px;
      height: 27px;
      right: -80px;
      background-size: contain;
      left: unset;
      margin-top: 0; } }

h2 {
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 34px;
  text-align: center;
  letter-spacing: 5%;
  color: var(--color-black); }

h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 35px; }
  @media only screen and (min-width: 768px) {
    h3 {
      font-size: 3.6rem;
      line-height: 45px; } }

.bold {
  font-weight: var(--weight-bold); }

body {
  background-color: var(--color-white);
  color: var(--color-primary); }

main {
  overflow: hidden;
  scroll-behavior: smooth; }

main section {
  padding: 40px 20px; }
  @media only screen and (min-width: 768px) {
    main section {
      padding: 90px 0; } }
  @media only screen and (min-width: 992px) {
    main section {
      padding: 134px 0; } }

.carousel {
  display: flex;
  align-content: center; }

.carousel-control-next,
.carousel-control-prev {
  background-color: var(--color-primary);
  width: 40px;
  height: 40px;
  border: 2px solid #f8f0e2;
  border-radius: 50%;
  opacity: 1;
  margin-top: 0px;
  position: absolute;
  transition: all 0.5s; }
  @media only screen and (min-width: 768px) {
    .carousel-control-next,
    .carousel-control-prev {
      width: 60px;
      height: 60px;
      margin-top: 20px; } }

.carousel-control-next:hover,
.carousel-control-prev:hover {
  transform: scale(1.1);
  background-color: var(--color-accent); }

.carousel-control-next {
  margin-right: 30px; }

.carousel-control-prev {
  margin-left: 20px; }

.carousel-control-next::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(./../assets/arrow.svg);
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  transform: rotate(90deg);
  width: 12px;
  height: 21px; }

.carousel-control-prev::after {
  content: "";
  display: inline-block;
  position: relative;
  background-image: url(./../assets/arrow.svg);
  background-repeat: no-repeat;
  top: 0;
  transform: rotate(-90deg);
  width: 12px;
  height: 21px; }

.carousel-item {
  width: contain; }

.carousel-indicators {
  display: block;
  margin: 0 0 30px 0;
  text-align: center !important;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media only screen and (min-width: 992px) {
    .carousel-indicators {
      display: block;
      flex-direction: column;
      margin: 0;
      margin-left: auto;
      margin-right: 0;
      direction: rtl;
      width: 10px;
      line-height: 0; } }

.carousel-indicators li {
  font-family: "Caveat", cursive;
  color: var(--color-secondary);
  font-size: 2rem;
  line-height: 25px;
  position: relative;
  width: 100px;
  padding: 10px 0;
  flex: none;
  background: none;
  border: none;
  height: auto;
  opacity: 1;
  text-align: center;
  text-indent: 0;
  display: inline-block;
  padding: 0;
  width: auto;
  transition: all 0.5s; }
  @media only screen and (min-width: 768px) {
    .carousel-indicators li {
      text-indent: 0;
      display: inline-block;
      width: auto;
      white-space: nowrap;
      margin: 5px 10px; } }
  @media only screen and (min-width: 992px) {
    .carousel-indicators li {
      margin: 5px unset;
      text-indent: 0;
      display: inline-block;
      width: auto;
      white-space: nowrap; } }

@media only screen and (min-width: 992px) {
  .carousel-indicators li:hover {
    font-size: 3.5rem;
    line-height: 6rem;
    color: var(--color-primary); } }

.carousel-indicators .active {
  font-size: 2rem;
  line-height: 25px;
  color: var(--color-accent); }
  @media only screen and (min-width: 992px) {
    .carousel-indicators .active {
      color: var(--color-primary);
      font-size: 3.5rem;
      line-height: 6rem; } }

.assortiment {
  font-family: "Caveat", cursive; }
  .assortiment li {
    color: var(--color-secondary);
    font-size: 2rem;
    line-height: 25px;
    transition: all 0.5s; }
  .assortiment li:hover {
    font-size: 3rem; }

.brushTitel {
  display: inline-block;
  width: 281px;
  height: 27px;
  margin-top: 60px;
  margin-left: -230px; }

.listing li::before {
  display: block;
  position: absolute;
  content: "";
  top: 25%;
  left: 0;
  width: 11px;
  height: 8px;
  background: url(./../assets/check.svg); }

.listing li {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  color: var(--color-primary);
  list-style-type: none;
  position: relative;
  margin: 15px 0;
  line-height: 20px;
  padding-left: 30px; }
  @media only screen and (min-width: 768px) {
    .listing li {
      font-size: 1.5rem;
      line-height: 24px; } }
  @media only screen and (min-width: 992px) {
    .listing li {
      font-size: 1.6rem;
      line-height: 28px; } }

.banner-professional,
.banner,
.banner-privacy {
  background-image: url(./../assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.banner-privacy {
  background-position: center;
  padding: 100px 0 25px 0; }
  @media only screen and (min-width: 768px) {
    .banner-privacy {
      padding: 200px 0 25px 0; } }

.banner-professional {
  padding: 100px 0; }
  @media only screen and (min-width: 768px) {
    .banner-professional {
      padding-bottom: 100px; } }
  .banner-professional .order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .banner-professional .order p {
      font-size: 1.4rem;
      margin-top: 10px;
      font-weight: 500; }
      @media only screen and (min-width: 992px) {
        .banner-professional .order p {
          font-size: 1.5rem; } }
    .banner-professional .order a {
      font-weight: 500;
      border-bottom: solid 1px var(--color-accent);
      padding-bottom: 2px;
      color: var(--color-accent); }

.privacy {
  padding-top: 25px; }
  @media only screen and (min-width: 992px) {
    .privacy {
      padding-top: 75px; } }
  .privacy p {
    margin: 25px 0; }
    @media only screen and (min-width: 768px) {
      .privacy p {
        margin: 50px 0; } }

.banner {
  margin: 0;
  padding: 0; }
  .banner .decorationImg {
    margin-top: -500px;
    margin-left: -150px; }
    @media only screen and (min-width: 768px) {
      .banner .decorationImg {
        margin-top: 0;
        margin-left: 0; } }
    @media only screen and (min-width: 992px) {
      .banner .decorationImg {
        padding: 0;
        display: block;
        width: 750px; } }
  .banner .logoBanner {
    width: 200px; }
    @media only screen and (min-width: 768px) {
      .banner .logoBanner {
        width: 300px; } }
    @media only screen and (min-width: 992px) {
      .banner .logoBanner {
        width: 400px; } }
  .banner div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0; }
    .banner div img {
      padding: 5px 0; }

.about {
  position: relative;
  z-index: 1; }
  .about .offer {
    position: relative; }
    .about .offer img {
      border: solid 2px var(--color-primary);
      border-radius: 50%;
      max-width: 250px; }
      @media only screen and (min-width: 768px) {
        .about .offer img {
          max-width: 200px; } }
      @media only screen and (min-width: 992px) {
        .about .offer img {
          max-width: 400px; } }
      @media only screen and (min-width: 1200px) {
        .about .offer img {
          max-width: 458px; } }
  .about p {
    padding: 10px 0; }

iframe {
  width: auto;
  height: auto; }
  @media only screen and (min-width: 768px) {
    iframe {
      width: 539px;
      height: 303px; } }
  @media only screen and (min-width: 992px) {
    iframe {
      width: 450px; } }
  @media only screen and (min-width: 1200px) {
    iframe {
      width: 539px; } }

.about-col-left,
.about-col-right {
  margin: 20px auto; }
  @media only screen and (min-width: 768px) {
    .about-col-left,
    .about-col-right {
      margin-bottom: 25px; } }
  @media only screen and (min-width: 1200px) {
    .about-col-left,
    .about-col-right {
      margin-bottom: 100px; } }

@media only screen and (min-width: 992px) {
  .about-col-right {
    margin-left: 50px; } }

.about .offer::after {
  background-image: url("./../assets/decoration-about.png");
  background-repeat: no-repeat;
  display: none;
  position: absolute;
  content: "";
  height: 299px;
  width: 320px;
  top: -140px;
  left: -50px;
  z-index: -1; }
  @media only screen and (min-width: 768px) {
    .about .offer::after {
      display: block; } }

.toTop {
  border-radius: 50%;
  background-color: #807968;
  height: 50px;
  width: 50px;
  padding: 15px;
  display: none;
  cursor: pointer;
  transition: 0.5s all; }
  @media only screen and (min-width: 768px) {
    .toTop {
      display: inline-block; } }

.toTop:hover {
  transform: scale(1.1);
  background-color: var(--color-accent); }

footer {
  background-image: url(./../assets/bg-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.4rem;
  line-height: 24px;
  color: var(--color-primary);
  font-weight: 700; }
  footer .col div {
    margin: 32px 0; }
  footer p {
    margin-bottom: 0; }
  footer a {
    text-decoration: underline;
    color: var(--color-primary);
    font-size: 1.4rem;
    line-height: 24px; }
  footer a:hover {
    color: var(--color-accent); }
  footer .pricavy {
    display: flex;
    flex-direction: column;
    font-family: "Quicksand", sans-serif; }
  footer .footer-info {
    padding: 100px 20px; }
    @media only screen and (min-width: 768px) {
      footer .footer-info {
        padding: 200px 0 100px; }
        footer .footer-info p,
        footer .footer-info a {
          font-size: 1.6rem; } }
    footer .footer-info div {
      padding-top: 20px; }

.digital {
  background-color: var(--color-white);
  color: var(--color-secondary);
  height: 35px;
  font-weight: var(--weight-regular); }
  .digital p,
  .digital a {
    font-size: 1.4rem; }
  .digital .container {
    padding: 5px 0; }
    @media only screen and (min-width: 768px) {
      .digital .container {
        padding: 10px 0; } }
  .digital a {
    color: var(--color-secondary);
    text-decoration: underline; }

.winkel,
.submit {
  transition: all 1s; }

.winkel:hover,
.submit:hover {
  background-color: var(--color-black);
  color: var(--color-white); }

.timeline-item {
  margin: 10px 0; }
  @media only screen and (min-width: 768px) {
    .timeline-item {
      border-top: solid 1px var(--color-secondary);
      position: relative; } }
  @media only screen and (min-width: 768px) {
    .timeline-item h3 {
      position: absolute;
      top: -20px;
      padding: 0 13px;
      background-color: #f8f0e2; } }
  @media only screen and (min-width: 992px) {
    .timeline-item h3 {
      position: absolute;
      top: -20px;
      padding-left: 23px;
      background-color: #f8f0e2; } }
  @media only screen and (min-width: 768px) {
    .timeline-item div {
      margin-top: 30px;
      padding-left: 13px; } }
  @media only screen and (min-width: 992px) {
    .timeline-item div {
      margin-top: 30px;
      padding-left: 23px; } }

.timeline-item:nth-child(1)::before {
  border: solid 1px var(--color-secondary);
  background-color: var(--color-secondary-background);
  border-radius: 50%;
  position: absolute;
  display: none;
  content: "";
  top: -5px;
  left: 0;
  width: 9px;
  height: 9px; }
  @media only screen and (min-width: 576px) {
    .timeline-item:nth-child(1)::before {
      display: inline-block; } }

.brush-border {
  width: 100%;
  display: block; }

.decoration {
  position: relative;
  display: block; }
  .decoration .about-professional {
    position: absolute;
    display: none;
    right: 0;
    top: 100px;
    right: -100px; }
    @media only screen and (min-width: 992px) {
      .decoration .about-professional {
        display: block;
        top: 75px;
        right: -75px;
        width: 250px; } }
    @media only screen and (min-width: 1200px) {
      .decoration .about-professional {
        display: block;
        top: 100px;
        right: -100px;
        width: unset; } }
  .decoration .carrots {
    position: absolute;
    display: none;
    right: 0;
    top: -385px;
    z-index: -1; }
    @media only screen and (min-width: 992px) {
      .decoration .carrots {
        display: block; } }
  .decoration .twoPeppers {
    position: absolute;
    display: block;
    bottom: 0px;
    left: -20px;
    width: 100px; }
    @media only screen and (min-width: 768px) {
      .decoration .twoPeppers {
        width: auto;
        bottom: 25px;
        left: 0; } }
  .decoration .leaf {
    position: absolute;
    display: block;
    width: 150px;
    left: -20px;
    top: -20px; }
    @media only screen and (min-width: 768px) {
      .decoration .leaf {
        width: auto;
        top: 20px;
        left: 0; } }
    @media only screen and (min-width: 992px) {
      .decoration .leaf {
        top: 100px; } }
  .decoration .peppercorns {
    position: absolute;
    display: none;
    right: 0;
    top: -335px;
    z-index: 1; }
    @media only screen and (min-width: 768px) {
      .decoration .peppercorns {
        display: block;
        width: 650px; } }
    @media only screen and (min-width: 1200px) {
      .decoration .peppercorns {
        width: fit-content;
        top: -370px; } }
  .decoration .redPepper {
    position: absolute;
    display: block;
    top: -145px;
    left: -20px;
    width: 150px; }
    @media only screen and (min-width: 768px) {
      .decoration .redPepper {
        width: auto;
        top: -325px;
        left: 0; } }
  .decoration .onion {
    position: absolute;
    display: block;
    right: 0;
    top: -20px;
    width: 75px; }
    @media only screen and (min-width: 768px) {
      .decoration .onion {
        width: auto;
        top: -75px;
        right: 0; } }
  .decoration .privacy-decoration {
    top: -25px; }
    @media only screen and (min-width: 768px) {
      .decoration .privacy-decoration {
        width: auto;
        top: -75px;
        right: 0; } }
    @media only screen and (min-width: 992px) {
      .decoration .privacy-decoration {
        width: auto;
        top: -75px;
        right: 0; } }

.change-bg {
  background-color: var(--color-secondary-background); }

.decoration-privacy {
  position: absolute;
  left: -125px;
  top: 250px;
  display: none; }
  @media only screen and (min-width: 992px) {
    .decoration-privacy {
      display: block;
      width: 500px; } }
  @media only screen and (min-width: 1200px) {
    .decoration-privacy {
      width: 600px; } }

.benefits h1 {
  margin-bottom: 80px; }

/*# sourceMappingURL=style.css.map */