@import './reset.css';
@import './vars.scss';
@import './nav.scss';
@import './form.scss';
@import './typography.scss';

body {
  background-color: var(--color-white);
  color: var(--color-primary);
}

main section {
  padding: 134px 0;
}

.carousel {
  display: flex;
  align-content: center;
}

.carousel-control-next,
.carousel-control-prev {
  background-color: var(--color-primary);
  width: 60px;
  height: 60px;
  border: 2px solid #F8F0E2;
  border-radius: 50%;
  opacity: 1;
  margin-top: 20px;
  position: absolute
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  width: 70px;
  height: 70px;
  transition: all .5s;
}

.carousel-control-next {
  margin-right: 30px
}

.carousel-control-prev {
  margin-left: 20px
}

.carousel-control-next::after {
  content: "";
  display: block;
  position: relative;
  background-image: url(./../assets/arrow.svg);
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  transform: rotate(90deg);
}

.carousel-control-prev::after {
  content: "";
  display: inline-block;
  position: relative;
  background-image: url(./../assets/arrow.svg);
  background-repeat: no-repeat;
  top: 0;
  transform: rotate(-90deg);
}

.carousel-indicators {
  display: flex;
  flex-direction: column;
}

.carousel-indicators li {
  font-family: "Caveat", cursive;
  color: var(--color-secondary);
  font-size: 2rem;
  line-height: 25px;
  position: relative;
  text-indent: 0;
  // opacity: 0;
  width: 100%;
  margin: 10px 0;
  flex: none;
  background: none;
  border: none;
  height: auto;
  opacity: 1;

}

.carousel-indicators li:hover {
  font-size: 3.5rem;
  line-height: 6rem;
  color: var(--color-primary);
  transition: all .5s;
}



.carousel-indicators .active {
  font-size: 4.8rem;
  line-height: 6rem;
  color: var(--color-primary);
}

.carousel-indicators li::after {
  display: block;
  -ms-flex: none;
  flex: none;
  width: 100%;
  height: auto;
  position: relative;
  background: none;
  border: 0;
  color: var(--color-secondary);
  font-size: 2rem;
  line-height: 25px;
  font-weight: 400;
  text-indent: 1;
  content: "";
}

.assortiment {
  font-family: "Caveat", cursive;

  & li {
    color: var(--color-secondary);
    font-size: 2rem;
    line-height: 25px;
  }

  & li:hover {
    font-size: 3rem;
    transition: all 0.5s;
  }

  & .active {
    font-size: 4.8rem;
    line-height: 6rem;
    color: var(--color-primary);
  }
}

.brushTitel {
  display: inline-block;
  width: 281px;
  height: 27px;
  margin-top: 60px;
  margin-left: -230px;
}


.listing li::before {
  display: block;
  position: absolute;
  content: "";
  top: 25%;
  left: 0;
  width: 11px;
  height: 8px;
  background: url(./../assets/check.svg);
}

.listing li {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  color: var(--color-primary);
  list-style-type: none;
  position: relative;
  margin: 15px 0;
  line-height: 25px;
  padding-left: 30px;
}

.banner {
  margin: 0;
  background-image: url(./../assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  background-position: center;
  // max-height: 950px;

  & .decorationImg {
    padding: 0;
  }

  & div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    & img {
      padding: 5px 0;
    }
  }
}

.about {

  & .offer {
    position: relative;

    & img {
      border: solid 2px var(--color-primary);
      border-radius: 50%;
      max-width: 458px;
    }
  }

  & p {
    padding: 10px 0;
  }
}

.about .offer::after {
  background-image: url("./../assets/decoration-about.png");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  content: "";
  height: 299px;
  width: 320px;
  top: -140px;
  left: -50px;
  z-index: -1
}

.toTop {
  border-radius: 50%;
  background-color: #807968;
  height: 50px;
  width: 50px;
  padding: 15px;
}

footer {
  background-image: url(./../assets/bg-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 180px;
  font-size: 1.4rem;
  line-height: 24px;
  color: var(--color-primary);
  font-weight: 700;

  & .col div {
    margin: 32px 0;
  }

  & p {
    margin-bottom: 0;
  }

  & a {
    text-decoration: underline;
    color: var(--color-primary);
    font-size: 1.4rem;
    line-height: 24px;
  }

  & a:hover {
    color: var(--color-accent)
  }

  & .pricavy {
    display: flex;
    flex-direction: column;
    font-family: "Quicksand", sans-serif;

  }

  & .footer-info {
    padding: 100px 0;
  }
}

.digital {
  background-color: var(--color-white);
  color: var(--color-secondary);
  height: 50px;
  font-weight: var(--weight-regular);
  padding-top: 15px;

  & a {
    color: var(--color-secondary);
    text-decoration: underline;
  }
}

.winkel:hover,
.submit:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  transition: all 1s;
}

.timeline-item {
  border-top: solid 1px var(--color-secondary);
  position: relative;

  & h3 {
    position: absolute;
    top: -20px;
    padding: 0 23px;
    background-color: #F8F0E2;
  }

  & div {
    margin-top: 30px;
    padding-left: 23px;
  }
}


.timeline-item:nth-child(1)::before {
  border: solid 1px var(--color-secondary);
  background-color: var(--color-secondary-background);
  border-radius: 50%; // background-image: url(./../assets/bullet.svg);
  // background-repeat: no-repeat;
  position: absolute;
  display: inline-block;
  content: "";
  top: -5px; // top: 25%;
  left: 0;
  width: 9px;
  height: 9px;
}

.brush-border {
  width: 100%;
  display: block;
}


.decoration {
  position: relative;

  & .carrots {
    position: absolute;
    display: block;
    right: 0;
    top: -300px;

  }

  & .twoPeppers {
    position: absolute;
    display: block;
    bottom: 25px;
  }

  & .leaf {
    position: absolute;
    display: block;
    top: 100px;
  }


  & .peppercorns {
    position: absolute;
    display: block;
    right: 0;
    top: -350px;
    z-index: 1;
  }

  & .redPepper {
    position: absolute;
    display: block;
    top: -325px;
  }

  & .onion {
    position: absolute;
    display: block;
    right: 0;
    top: 60px;

  }
}

.change-bg {
  background-color: var(--color-secondary-background);
}
